<html>
    <head>
        <title>Address Book</title>
    </head>
    <body>
        <h1>Your Address Book</h1>

        <form method="POST">
            <input name="name_text" id="id_new_address--name" placeholder="Enter a name" />
            <input name="address_text" id="id_new_address--address" placeholder="Enter an address" />
            <input type="submit" value="Submit">
            {% csrf_token %}
        </form>

        <table id="id_list_table">
            {% for address in addresses %}
            <tr>
                <td>{{ forloop.counter }}: {{ address.name }} - {{ address.address }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>